<footer class="footer footnote">
  <p>
    The Exokit project and content on this site are licensed under the <a href="https://github.com/exokitxr/exokit/blob/master/LICENSE" rel="external">MIT License</a>.
  </p>
  <p>Found a typo or suggestion for the docs? <br><br> <a href="<%- website_github_edit_url(item.path) %>" class="github-file-link" target="_blank" rel="external">Suggest an edit on GitHub</a></p>
</footer>
