@font-face {
    font-family: 'Bison';
    src: url('../fonts/Bison-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Regular.otf') format('opentype');
    font-weight: 400;
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Bold.otf') format('opentype');
    font-weight: 500;
}
@font-face {
    font-family: 'Bozon';
    src: url('../fonts/ROHH - Bozon Light.otf') format('opentype');
    font-weight: 300;
}
  
html {
    overflow-x: hidden;
    text-overflow: ellipsis;
}
  
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: rgb(29, 29, 29);
    text-decoration: none;
}
  
.footerLink{
    color: white;
}
  
body {
    font-family: Bozon;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden
}
  
.row, .col {
    margin: 0;
    padding: 0;
}
  
.navbar-brand {
    font-family: Bison;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
}
  
.navbar-brand img {
    height: 35px;
    margin-right: 8px;
}
  
.navbar-nav {
    margin-left: auto;
}
  
#bigNavbar{
    visibility: visible;
}
#littleNavbar{
    visibility: hidden;
    width: 0;
}
#expandedLittleNavbar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 3;
    visibility: hidden;
}

.footer{
    padding-top: 5vh;
    color: white;
    min-height: 30vh;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #17191a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #17191a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer .fab:hover{
    color: rgb(207, 207, 207);
}
.footer a:hover{
    color: rgb(207, 207, 207);
}
.footer a{
    text-decoration: none;
    color: white;
}

.emailInput{
    border-radius: 100px;
}

.emailButton{
    border-radius: 100px;
    background-color: #2096A2;
    border: none;
}

.featureMain {
  visibility: hidden;
}

@media only screen and (max-width: 994px) {
    #bigNavbar{
        visibility: hidden;
    }
    #littleNavbar{
        visibility: visible;
        width: 110px;
    }
    #brandName{
        visibility: hidden;
        width: 0;
    }
}
