<header id="header" class="header">
  <a id="logo" class="logo borderless-links" href="<%- url_for(config.root) %>" title="<%= config.title %>">
    <img src="https://raw.githubusercontent.com/exokitxr/exokit/master/assets/icon.png" alt="exo bot" height="55" width="55">
  </a>
</header>
<a href="<%- url_for('docs/') %>" class="mobile-get-started nav-link get-started<%- page.canonical_path.match(/docs/) ? ' current' : '' %>">
  Get Started
</a>
