<div class="wordmark">
  <header id="header" class="header">
    <a id="logo" class="logo" href="<%= url_for(config.root) %>" title="<%= config.title %>">
      <img src="https://raw.githubusercontent.com/exokitxr/exokit/master/assets/icon.png" alt="exo bot" height="55" width="55">
    </a>
  </header>

  <%- partial('partials/search_field', {location: 'sidebar'}) %>
</div>
